body {
    margin: auto;
    padding: auto;
    position: relative;
    max-width: 900px;
}

#geral {
    margin-top: 50px;
    position: absolute;
}

#content {
    position: absolute;
    border: 1px solid black;
    margin-left: 200px;
    margin-top: 0;
}

#display2 {
    height: 30px;
    width: 250px;
    text-align:right;
    padding-top: 10px;
    
}

#display {
    height: 30px;
    width: 250px;
    text-align: right;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 600;
}

#content2 {
    width: 250px;
    height: auto;
    position: absolute;
    margin-top: 90px;
    border: 1px solid black;
    margin-left: 200px;
}

button {
    margin: 10px;
    height: 40px;
    width: 40px;
    text-align: center;
    border: 0;
    border-radius: 10px;
    background-color: rgb(160, 159, 159);
}

.some {
    height: 100px;
}

#igual {
    width: 102px;
    background-color: RoyalBlue;
    color: white;
    font-weight: 600;
}

#opera {
    float: right;
    color: white;
    font-weight: 600;
    background-color: rgb(124, 119, 119);
}

#exibir {
    border: 1px solid black;
    width: 130px;
    height: 400px;
    position: absolute;
    margin-left: 460px;
    overflow-y: none;
    overflow-x: hidden;
    text-align: right;
}
li {
    margin-right: 5px;
    list-style-type: none;
    margin-top: 5px;
}

.escuro {
    background-color: #333131;
    color: white;
}
.escuro2 {
    color: black;
    background-color: rgb(160, 159, 159);
}